@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&family=Fraunces:opsz@9..144&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    place-items: center;
    font-family: Epilogue;
    background-color: #f2f2f2;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1108.85px;
    height: 56px;
    left: 166px;
    top: 50px;
}
button{
    border: 1px solid black;
    width: 219px;
    height: 56px;
    filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.button1{
    font-family: Epilogue;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #172339;
    letter-spacing: -0.16px;
    line-height: 32px;
    background-color: white;
    border: 1px solid #172339;
}
.secondcontainer{
    width: 1110px;
    height: 600px;
    left: 166px;
    top: 248px;
    display: flex;
}
.textbox{
    width: 635px;
    height: 405px;
    left: 141px;
    top: 315px;
    margin-right: 192px;
    position: absolute;
    z-index: 1;
}
span{
    font-family: Epilogue;
    font-weight: 400;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;
}
strong{
    font-family: Epilogue;
    font-weight:700;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;
}
.textbody{
    font-family: Epilogue;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.1px;
    top: 511px;
    left: 138px;
    width: 350px;
    height: 96px;
    color: #49566D;
    margin-top: 40px;
}
.button2{
    background-color: #172339;
    width:256px;
    height: 61px;
    border: 1px solid ;
    border-radius: 6px;
    top: 659px;
    font-family: Epilogue;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    margin-top: 52px;
}
.concaveline{
    left: 455px;
    top: 218px;
    position: absolute;
    color: #172339;
    z-index: 1;
}
.imghero{
    width: 350px;
    height: 600px;
    position:absolute;
    top: 173px;
    left: 615px;
    right: 475px;
    z-index: 0;
}
.button1:hover{
    background-color: #172339;
    color: #FAF8F6;
}
.button2:hover{
    background-image:linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}
.indicators{
    width: 195px;
    height: 375px;
    left: 1056px;
    top: 333px;
    position: absolute;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.figure{
    font-family: Epilogue;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}
.figure-text{
    font-family: Epilogue;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;

}
.thirdcontainer{
    width: 1109px;
    height: 589.56px;
    left: 140px;
    top: 917px;
    position: absolute;
    z-index: 1;
}
.messagebox{
    width: 1109px;
    height: 545px;
    background-color: #172339;
    position: absolute;
    top: 44.56px;
    border-radius: 15px;
}
.image-jeremy{
    position: absolute;
    width: 359.89px;
    height: 589.56px;
    left: 121.49px;
    top: -44.56px;
    margin-top: 0px;
}
.convexline{
    position:absolute;
    width: 64.05px;
    height: 52px;
    left: 517.2px;
    top: 161.15px;
}
.message{
    position:absolute;
    width: 350px;
    height: 369px;
    left: 634px;
    top: 88px;
}

.top-comment{
    position: absolute;
    height: 56px;
}
.top-comment1, .top-comment2{
    color: #FAF8F6;
    font-family: epilogue;
    font-style: normal;
}
.top-comment1{
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.5px;
}
.top-comment2{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
}
.middle-comment{
    color: #F3EDE7;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    top: 120.44px;
    width: 350px;
    height: 175px;
}
h5{
    text-transform: uppercase;
    color: #FAF8F6;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    position: absolute;
    top: 350.44px;
}
.jobtitle{
    position: absolute;
    color: #F3EDE7;
    top: 390.44px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    width: 190px;
    height: 26px;

}
.footerContainer{
    width: 1440px;
    height: 464px;
    top: 1252px;
    z-index: 0;
    left: 0px;
    position: absolute;
}
.footerContainer:hover{
    background-color: #F3EDE7;
}
.footer{
    position: absolute;
    width: 1109px;
    height:32px;
    left: 140px;
    top: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 116px;
    height: 20px;
    left: 993px;
    position: absolute;
    justify-content: space-between;
}
#copyright{
    position: absolute;
    width: 125px;
    height: 32px;
    color: #49566D;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0-08833333px;
    left: 491px;
}
@media screen and (max-width: 768px){
    body{
        background-color: #FAF8F6;
        margin: 0px;
    }
    header{
        left: 39px;
        top: 40px;
        width: 689px;
        height: 56px;
        right: 40px;
    }
    .secondcontainer{
        left: 39px;
        width: 689px;
        height: 482px;
        top: 176px;

    }
    .indicators{
        display: flex;
        flex-direction: row;
        left: 39px;
        top: 800px;
        align-items: center;
        justify-items:space-between;
        place-items: center;
        width: 689px;
        height: 83px;
    }
    .thirdcontainer{
        width: 689px;
        height: 865px;
        left: 39px;
        top: 921px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .message{
        width: 573px;
        height: 282px;
        left: 97px;
        top: 338px;
        justify-items: center;
        position: absolute;
    }
    .imghero{
        left: 447px;
        top: 176px;
        width: 281px;
        height: 482px;
    }
    .image-jeremy{
        justify-self: center;
        top: -181px;
        left: 270px;
    }
    .convexline{
        width: 49.27px;
        height: 40px;
        left: 408.27px;
        top: 261px;
    }
    .messagebox{
        width: 689px;
        height: 684px;
        top: 338px;
    }
    .footer{
        width: 689px;
        height: 32px;
        left: 39px;
        top: 800px;
        right: 40px;
    }
}



@media screen and (max-width: 375px){
    body{background-color: #FAF8F6;} header{width: 343px; height: 48px; left: 16px; top: 24px;} .textbox{
        width: 343.3px; height: 325.32px; left: 15.5px; top: 128px;
    } .imghero{width: 343px; height: 240px; left: 16px; top: 709px;}
     .indicators{width: 344px; height: 313px; left: 15px;
    display: flex; flex-direction: column; top: 1500px;} 
    .concaveline{left: 170px;top: 128px;width: 151.47px;height: 19px;margin-bottom: 8.32px;}
    .thirdcontainer{
        width: 573px; height: 929px; left: -99px; top: 1900px;
    }.image-jeremy{width: 343px; height: 402px; left: 16px;top: -201px;} 
    .convexline{left: 163px;top: 261px;}
    #titlecomment{left: 50px; width: 573px; height: 48px; align-items: center; position: absolute;top: 42px;}
    .middle-comment{width: 343px;height: 160px;left: 115px;}
    .name{width: 165px;height: 32px;left: 106px;top: 40px;text-align: center;}
    .jobtitle{width: 190px;height: 26px;left: 93px;text-align: left;}
    .messagebox{ width: 375px; height: 748px; left: 99px; top: 181px;} .footer{width: 125px;height: 150px; left: 124.5px;
    display: flex; flex-direction: column; top:2300px; align-items: center; justify-items: center;}
}